<div class="panel panel-default">
  <div class="panel-heading">
    <%= note.created_at.strftime("%d/%m/%Y")%>
  </div>
  <div class="panel-body">
    <%= note.body %>
    <p> <%= link_to "delete", [note.site, note], data: {confirm: "Are you sure?"}, method: :delete %> </p>
  </div>
</div>
