<div class='jumbotron'>
  <p>
    <b>Created:</b>
    <%= note.created_at %>
  </p>

  <p>
    <b>Note:</b>
    <%= note.body %>
  </p>
</div>

<p>
  <%= link_to "show", [note.site, note] %>
  <%= link_to "delete", [note.site, note], data: {confirm: "Are you sure?"}, method: :delete %>
</p>
