<h1>Welcome to Site Tracker</h1>
<p>This application allows you to manage all of the websites for which you provide support.</p>
<p><%= link_to('View all sites', sites_path) %></p>
<p><%= link_to('View all plans', plans_path) %></p>
