<h1>Sites</h1>

<div class=jumbotron>

      <% monthly_revenue = 0 %>
      <% @sites.each do |site| %>
      <% monthly_revenue += site.plan.price %>
      <% end %>
      <p>You have <strong> <%= Site.count %> </strong> sites generating <strong>£<%= monthly_revenue %></strong> in monthly recurring revenue.
</div>

<%= render 'table' %>

<%= link_to 'New Site', new_site_path, class: "btn btn-primary" %>
